<div class="main-wrapper" fxLayout="row" fxLayoutAlign="center center">

    <mat-card>
      <mat-card-header>
        <mat-card-title>Sign In</mat-card-title>
      </mat-card-header>
  
      <form class="example-form">
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Username">
          </mat-form-field>
  
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Password">
          </mat-form-field>
        </mat-card-content>
        <button mat-stroked-button routerLink="dashboard" color="accent" class="btn-block">Sign-in</button>
      </form>
    </mat-card>
  
  </div>
