<mat-toolbar color="primary" class="app-header">
  <div><a href="#" target="_blank" class="positronx">Cus360</a></div>
  <span class="nav-tool-items">
    <a mat-button routerLink="signin" routerLinkActive="active">SignIn</a>
    <a mat-button routerLink="register" routerLinkActive="active">Register</a>
    <a mat-button routerLink="dashboard" routerLinkActive="active">Dashboard</a>
  </span>
</mat-toolbar>

<router-outlet></router-outlet>